@import url("https://ka-p.fontawesome.com/releases/v5.15.3/css/pro.min.css?token=f19e03530f");
@import url("https://ka-p.fontawesome.com/releases/v5.15.3/css/pro-v4-shims.min.css?token=f19e03530f");
@import url("https://ka-p.fontawesome.com/releases/v5.15.3/css/pro-v4-font-face.min.css?token=f19e03530f");
@import url("https://kit.fontawesome.com/f19e03530f/27314567/kit-upload.css?token=f19e03530f");

html,
body,
#root {
  height: 100%;
  display: block;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
