.header {
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto 40px auto;
  max-width: 1440px;
  width: 100%;
  padding: 26px  32px 32px 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  text-align: center;
  color: #262626;
  margin-bottom: 12px;
}

.link {
  transition: color 0.3s;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #666866;
  padding: 10px 12px;
  border-radius: 3px;
  position: relative;
  z-index: 99;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #D9D9D9;
  border-radius: 3px;
  padding: 4px 12px;
  align-self: center;
  min-height: 0 !important;
  height: auto !important;
  position: relative;
  .tab {
    padding: 0;
    min-width: 0 !important;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      bottom: 6px;
      right: 0;
      width: 1px;
      background: #EBEBEB;
    }
    &.active a {
      color: #FFFFFF;
    }
  }
  .tab:last-of-type::after {
    content: none;
  }
  .indicator {
    background: linear-gradient(to right, #A0A1A0, #A0A1A0 50%, #A0A1A0 50%);
    top: 4px;
    bottom: 4px;
    height: auto;
    border-radius: 3px;
    z-index: 5;
  }
}
